/******
https://coolors.co/ababab-373738-46494c-004071-072f4c
ababab - silver
373738 - jet
46494c - outer space 
004071 - indigo dye 
072f4c - prussian blue 
*******/


body,p, div {
      font-family: "Poiret One", sans-serif;
}


h1,h2,h3,h4,h5,h6 {
     font-family: "Miltonian Tattoo", serif;
}

.theme-color-spring-red .button-theme {
    background: #004071;
}
*.text-dark-05 {
    color: black
}

body {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
}